<div class="">
   @for (c of comments; track $index) {
   <div class="border-b-2 mt-2 border-gray-200 flex flex-col gap-4 bg-slate-50 dark:text-stone-100 dark:bg-gray-700 p-4">
      <!-- Profile and Rating -->
      <div class="flex justify justify-between">
          <div class="flex gap-2">
              <div class="w-7 h-7 text-center rounded-full bg-red-500">J</div>
              <span>{{c.title}}</span>
          </div>
         <star-score [score]="c.score"></star-score>
      </div>

      <div>
          {{c.content}}
      </div>

      <div class="flex justify-between">
          <span>{{c.createdDate}}</span>
          <button class="p-1 px-2 bg-slate-50 dark:bg-gray-900 hover:bg-gray-950 border border-gray-950 bg-opacity-60">
               Share</button>
      </div>
     
  </div>
  
}
</div>